@charset "UTF-8";

@font-face {
  font-family: Roboto;
  font-display: swap;
  src: url("../fonts/Roboto-Medium.woff2") format("woff2"), url("../fonts/Roboto-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: Roboto;
  font-display: swap;
  src: url("../fonts/Roboto-Bold.woff2") format("woff2"), url("../fonts/Roboto-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Roboto-Regular";
  font-display: swap;
  src: url("../fonts/Roboto-Regular.woff2") format("woff2"), url("../fonts/Roboto-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

/**
 * Основные стили
 **/

html {
  color: #000000;
  scroll-behavior: smooth;
}

body {
  font-family: "Open Sans", "Arial", sans-serif;
  overflow-wrap: break-word;
  word-wrap: break-word;
  -webkit-text-decoration-skip: objects;
          text-decoration-skip: objects;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  background-color: #ffffff;
}

img {
  max-width: 100%;
  height: auto;
}

img[alt] {
  font-size: 10px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}

*:hover {
  -webkit-transition: all 0.2s ease 0s;
  transition: all 0.2s ease 0s;
}

h1,
h2,
h3,
p {
  margin: 0;
}

a {
  text-decoration: none;
  cursor: pointer;
}

ul {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

.wrap {
  min-width: 360px;
  max-width: 1920px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0 auto;
}

.testing {
  font-family: "Roboto-Regular";
  margin: 0 360px;
  padding: 0 15px;
  background-color: rgb(192, 219, 217);
}

.testing__header {
  padding: 30px;
  background-color: rgb(127, 175, 246);
  margin-bottom: 15px;
}

.testing__label {
  padding: 8px 15px;
  background-color: rgb(165, 199, 249);
  font-size: 20px;
  line-height: 24px;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.testing__green-list {
  background-color: rgb(179, 249, 90);
  list-style: none;
  margin: 0;
  padding-left: 0;
  counter-reset: counter 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr 4fr 1fr;
  grid-template-columns: 2fr 4fr 1fr;
  -ms-grid-rows: 198px 198px;
  grid-template-rows: 198px 198px;
  gap: 10px;
}

.testing__green-item {
  position: relative;
  background-color: rgb(138, 209, 145);
  color: white;
  font-size: 53px;
  line-height: 62px;
  counter-increment: counter 1;
}

.testing__green-item::before {
  position: absolute;
  content: counter(counter);
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.testing__green-item:nth-child(4) {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
}

.testing__blue-list {
  margin: 0;
  padding: 0;
  margin-top: 15px;
  list-style: none;
  background-color: rgb(136, 181, 191);
  padding: 30px;
  gap: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 100px;
}

.testing__blue-item {
  background-color: rgb(13, 137, 176);
  -webkit-box-flex: 255px;
      -ms-flex: 255px;
          flex: 255px;
  aspect-ratio: 16/12.49;
}

.testing__footer {
  background-color: rgb(127, 175, 246);
  min-height: 100px;
}

.testing__input:checked ~ .popup {
  -webkit-transform: translateY(0%);
      -ms-transform: translateY(0%);
          transform: translateY(0%);
  -webkit-transition: -webkit-transform 0.4s;
  transition: -webkit-transform 0.4s;
  transition: transform 0.4s;
  transition: transform 0.4s, -webkit-transform 0.4s;
}

.popup {
  font-family: "Roboto-Regular";
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.3);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 10;
  -webkit-transform: translateY(-120%);
      -ms-transform: translateY(-120%);
          transform: translateY(-120%);
  -webkit-transition: -webkit-transform 0.4s;
  transition: -webkit-transform 0.4s;
  transition: transform 0.4s;
  transition: transform 0.4s, -webkit-transform 0.4s;
}

.popup__wrap {
  position: relative;
  min-height: 400px;
  min-width: 400px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.popup__button {
  position: absolute;
  background-color: rgb(127, 175, 246);
  color: white;
  width: 43px;
  height: 39px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 20px;
  line-height: 24px;
  top: 15px;
  right: 15px;
  cursor: pointer;
}

.popup__text {
  margin: 0;
  margin: auto;
  font-size: 53px;
  line-height: 62px;
}

@media (min-width: 768px) {
  .testing__green-list {
    -ms-grid-columns: 390px 1fr 160px;
    grid-template-columns: 390px 1fr 160px;
    -ms-grid-rows: 198px 198px;
    grid-template-rows: 198px 198px;
    gap: 15px;
  }
}